.header {
	/*文字阴影*/
	text-shadow: none;
	/*background-color: #106eb7;*/
	background-color: #1c6ac6;
	position: fixed;
	z-index: 10;
	width: 100%;
	text-align: center;
	padding: 15px 0;
}
.left {
	/*padding-left: 18px;*/
	position: absolute;
	top: 15px;
	height: 20px;
	left: 16px;
}
.center {
	/*padding-left: 18px;*/
	/*top: 15px;*/
	/*height: 20px;*/
	/*font-size: 18px;*/
	color: #fff;
}
.left img {
	height: 20px;
}
.right {
	position: absolute;
	top: 15px;
	height: 20px;
	right: 16px;
}
.right img {
	height: 20px;
}